.faq-wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

.item1 {
    padding: 2em;
    padding-bottom: 0;
    cursor: pointer;
}

.item2 {
    padding: 2em;
    cursor: pointer;
}

.question {
    font-size: 1.8em;
    font-weight: 700;
}

p {
    padding: .5em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.head {
    padding-top: 1em;
    text-align: center;
}

.faq-title {
    font-size: 9em;
}

.clme {
    font-size: .5em;
    font-weight: 300;
    display: none;
}

.question:hover > .clme {
    display: inline-block;
}