* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content-wrapper {
    position: relative;
    height: 100vh;
}

.navbar-wrapper {
    display: flex;
    background-color: black;
    width: 100vw;
}

.navbar-item {
    padding: .8em;
}

.navbar-item:hover {
    background-color: #f1a536;
    font-weight: 700;
    transition: ease all .21s;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #eaeaea;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper a,
.social-links a {
    padding: .5em;
    color: gray;
    font-size: .8em;
    text-decoration: none;
}