* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar-wrapper {
    display: flex;
    background-color: slategrey;
}

.navbar-item {
    padding: .8em;
}

.navbar-item:hover {
    background-color: lightslategray;
    font-weight: 700;
    transition: ease all .2s;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

.footer-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #eaeaea;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper a,
.social-links a {
    padding: .5em;
    color: gray;
    font-size: .8em;
    text-decoration: none;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}